/* form {
  margin-left: 1px;
} */

.form__field {
  margin: 10px 0;
}

.fieldset1 {
  margin-top: 0;
}

fieldset {
  margin: 20px 0;
}

.form__field:first-of-type {
  margin-top: 0;
}

.form__field:last-of-type {
  margin-bottom: 0;
}
